<div class="background-pizarron visibility-hidden" style="background-image: url(https://cdn.pixabay.com/photo/2019/06/10/11/35/learning-4264032_960_720.jpg); background-size: cover;">
  <div class="container mt-4">
    <div>
      <div class="d-flex flex-row justify-content-between">
        <h1>Listado de Grados</h1>
        <%= link_to icon("fa-solid fa-circle-left", pizarron_path,  class:"fs-1 icon-return rounded-circle border border-dark")%>
      </div>
      <p>Estos son los niveles escolares de la institución</p>
    </div>
    <% if current_user.admin_role? %>
      <div class="d-flex w-100 justify-content-end mb-3">
        <%= link_to "Agregar nuevo nivel", new_grade_path, class:"btn btn-primary"%>
      </div>
    <% end %>
    <%= render "shared/grades_list" %>
  </div>
  <br><br>
</div>
