<div class="container">
  <h1 class="text-center">GRADOS</h1>
  <h3 class="text-center">Agregar un nuevo grado</h3>

  <div class="container card" style="width: 30rem;">
    <%= simple_form_for(@grade) do |f| %>
    <div class="form-inputs text-center">
      <%= f.input :name, label:'Nombre'  %>
    </div>
    <div class="form-actions">
      <ul class="list-group">
        <li class="list-group-item text-center"><%= f.submit "Guardar", class: "btn btn-primary m-3" %></li>
        <li class="list-group-item text-center"><a class="mb-5"><%= link_to "Regresar", grades_path, class:"btn btn-link"%></a></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>
