<div class="container">
  <div class="d-flex flex-row justify-content-between">
    <h1 class="text-center">GRADOS ESCOLARES</h1>
      <%= link_to grades_path do %>
        <div class="">
          <i class="fa-solid fa-circle-left fs-1 icon-return rounded-circle border shadow"></i>
        </div>
      <% end %>
  </div>
  <div>
    <p>Estas a punto de incluir un nuevo grado al currículo escolar</p>
  </div>

  <div class="container card" style="width: 30rem;">
    <%= simple_form_for(@grade) do |f| %>
    <div class="form-inputs text-center">
      <%= f.input :name, label:'Nombre'  %>
    </div>
    <div class="form-actions">
      <ul class="list-group">
        <li class="list-group-item text-center"><%= f.submit "Guardar", class: "btn btn-flat" %></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>
