// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$green-light: #B9E0FF;


// Scrapbook Colors
$purple-sb: #7743DB;
$blue-sb: #8D9EFF;
$yellow-sb: #FCFDF2;
$blue-light-sb: #68E7FB;
$purple2-sb: #80489C;
$rose-sb: #FCE2DB;
$white-sb: #F5F5F5;
$bg-light: #FFF9D7;
$gray-sb: #3D3C42;
$gray2-sb: #898AA6;
$white-bg: #F9F9F9
