// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Scrapbook Colors
$purple-sb: rgb(74, 21, 75);
$blue-sb: #112453;
$yellow-sb: #F9D749;
$blue-light-sb: #68E7FB;
$white-sb: #F5F5F5;
