.body {
  font: 11px/1.6 "arial", sans-serif;

}

.login{
  width: 410px;
  height: 550px;
  float: center;
  margin: 20px 0 0 0;
  padding: 0;
  background-color: white;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.imagen{
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.imagen2{
  background-image: url(https://i.ibb.co/Tr5xnKQ/Logo1-Scrapbook.png);
  height: 60px;
  width: 60px;
  background-size: cover;
  margin-bottom: 10px;
  align-items: center;
  margin-top: 20px;
}


.access{
  background-color: #4A154B;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  background-position: 0 0;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 400;
}

.formulario{
  width: 50%;
  height: 50%;
}

.body1{
  display: flex;
  margin: 0 auto;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  margin-bottom: 50px;
  //background-color:  #F9D749;
  background-image: url(https://cdn.pixabay.com/photo/2019/06/10/11/35/learning-4264032_960_720.jpg);
}

.iniciar{
  margin-bottom: 10px;
  text-align: center;
}

.sign-up{
  text-decoration: dashed;
  text-align: center;
}

.button{
  text-align: center;
}

.fondo{
  background-size: cover;
  background-image: url(https://cdn.pixabay.com/photo/2019/06/10/11/35/learning-4264032_960_720.jpg);
}
