.body {
  font: 11px/1.6 "arial", sans-serif;
  color: #5f5c5c;
}

.rightlogin{
  width: 410px;
  height: 550px;
  float: right;
  margin: 20px 0 0 0;
  padding: 0;
  background-color: white;
  border-radius: 10%;
  display: flex;
  justify-content: center;

}

.imagen{
  height: 500px;
  width: 500px;
  background-size: cover;
}

.imagen2{
  background-image: url(https://i.ibb.co/Tr5xnKQ/Logo1-Scrapbook.png);
  height: 60px;
  width: 60px;
  background-size: cover;
  margin-bottom: 10px;
  align-items: center;
  margin-top: 20px;
}


.access{
  background-color: #4A154B;
  border: 2px solid #f0f0f0;
  border-radius: 10px;
  background-position: 0 0;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
  color: white;
  font-weight: 400;
}

.formulario{
  width: 50%;
  height: 50%;
}

.container{
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  background-color:  #F9D749;
}

.iniciar{
  margin-bottom: 10px;
  text-align: center;

}

.sign-up{
  text-decoration: dashed;
  text-align: center;

}

.button{
  text-align: center;
}
