<footer class="bg-light text-center text-white d-block flex-fill fixed-bottom">
  <!-- Grid container -->
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-google"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center footer-copyright" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white"><%= link_to "Scrapbook", root_path, class:"" %></a>
  </div>
</footer>
