
  <!-- Grid container -->
  <div class="py-5">
    <div class="footer flex-row justify-content-between bg-gradient align-items-center">
      <div class="footer-links">
        <a href="#"><i class="fab fa-google"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </div>
      
    <!-- Copyright -->
      <div class="text-center footer-copyright">
        © 2022 Copyright:
        <a class="text-decoration-none"><%= link_to "Scrapbook", root_path, class:"text-decoration-none" %></a>
      </div>
    </div>
  </div>
