<div class="d-flex flex-column bd-highlight">
  
  <%= simple_form_for(@subject) do |f| %>
            <% @subject.errors.full_messages.each do |error| %>
              <div>
                <%= error %>
              </div>
            <% end %>
            <div class="form-inputs bd-highlight flex-fill">
              <%= f.input :name, label:"Asignatura:", placeholder:"nueva asignatura" %>
            </div>
            <div class="form-actions d-flex align-self-center justify-content-center mb-4">
              <%= f.submit "Guardar", class: "btn btn-flat" %>
            </div>
          <% end %>
</div>
