<div class="container col-8 d-flex flex-column">
  <h1>Scrapbook</h1>
  <p>Somos una empresa de programación dirigida al sector educativo.
  <br>Bindamos soluciones a instituciones eductivas que desean centralizar su infomación
  en un solo lugar, mejorar la comunicación entre los directivos, profesores y padres de
  familia. <br>Nos preocupamos por el bienestar del profesor al momento de ingresar notas e informar las tareas
  disponibles para cada asignatura que dicta. También nos preocupamos por mantener informados en todo momento
  a los padres de familia que no cuentan con el tiempo suficiente para preguntar como va su hijo en el entorno
  académico y disciplinario. <br><br> Ahora con SCRAPBOOK, la comunicación será fácil y eficaz para todos. <br>
  <br>
  Si deseas obtener más información sobre cómo adquirir <strong>Scrapbook</strong> comunícate con nosotros a través de nuestros
  canales y medios digitales. <br></p>

  <p><strong>Correo electrónico: </strong> scrapbook@gmail.com </p>
  <p><strong>Whatsapp: </strong> (+57) 315 307 17 14 </p>
  <p><strong>Instagram: </strong> @scrapbook </p>
  <p><strong>Facebook: </strong> @scrapbook </p>

</div>
