<%# Banner %>
<div class="banner" style="background-image: url(https://i.ibb.co/FBVbbbP/tamanna-rumee-Ft-JEat-S7-Q4-unsplash.jpg); opacity: 1.6;">
  <div class="container  mb-3 d-flex">
    <h1 class="fs-1 me-3 mt-4" style="color: black;">Scrapbook</h1>
  </div>
  <div class="container max-height-banner mt-2 d-flex">
    <% if user_signed_in?  %>
      <br>
      <p class="fs-3" style="color: black;"><span data-controller="typed-js"></span></p>
    <% else %>
        <br>
        <div class="mb-4">
            <p class="fs-3"><span data-controller="typed-js"></span></p>
        </div>
    </div>
        <br>
        <div class="container me-3 d-flex justify-content-end">
            <div class="">
              <a ><%= link_to "Más Informción", about_path, class:"btn btn-flat"%></a>
            </div>
        </div>
    <% end %>
  </div>
</div>
