<%# Banner %>
<div class="banner" style="background-image: url(https://i.pinimg.com/originals/ed/b6/ac/edb6acb94c1eed282be36b11e297a5be.jpg); opacity: 1.6;">
  <div class="container max-height-banner">
    <% if user_signed_in?  %>
      <h1 class="fs-1 mb-2 mt-4" style="color: black;">Scrapbook</h1>
      <p class="fs-3" style="color: black;"><span data-controller="typed-js"></span></p>
    <% else %>
      <h1 class="fs-1 mb-2 mt-4" style="color: $white-sb;">Scrapbook</h1>
      <p class="fs-3" style="color: $white-sb;"><span data-controller="typed-js"></span></p>
      <a ><%= link_to "Más Infotmción", new_user_session_path, class:"btn btn-primary mt-6"%></a>
    <% end %>
  </div>
</div>
