<%# Banner %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.ibb.co/cYd8DtR/Banner1.png);">
  <div class="container">
    <h1> <strong>Scrapbook</strong> joint people </h1>
    <p><span data-controller="typed-js"></span></p>
    <a ><%= link_to "Posts", posts_path, class:"btn btn-flat"%></a>
  </div>
</div>

