 <div class="card m-4">
  <div class="container mt-4">
    <% if current_user.admin_role?%>

      <div class="d-flex flex-row justify-content-between">
        <h1>Editar Asignatura</h1>
        <%= link_to subjects_path do %>
            <div class="">
              <i class="fa-solid fa-circle-left fs-1 icon-return rounded-circle border shadow"></i>
            </div>
        <% end %>
      </div>
      <div>
        <p>Modifica la información de esta asignatura</p>
        <%= render 'shared/subject_form' %>
      </div>

    <% else %>
      <div class="row g-1 d-flex align-items-center justify-content-center">
        <h3 class="mb-3">¡Acceso denegado!</h3>
        <%= link_to "Aceptar", root_path, class:"btn btn-outline-danger" %>
      </div>
    <% end %>
  </div>

</div>
