<div class="background-pizarron" style="background-image: url(https://cdn.pixabay.com/photo/2019/06/10/11/35/learning-4264032_960_720.jpg); background-size: cover;">
  <div class="container">
    <div>
      <h1>Listado de Materias</h1>
      <p>Estas son las materias del currículo escolar</p>
    </div>
    <% if current_user.admin_role? %>
      <div class="d-flex w-100 justify-content-end mb-3">
        <%= link_to "Agregar Materia", new_subject_path, class:"btn btn-success"%>
      </div>
    <% end %>
    <%= render "shared/subjects_list" %>
  </div>
  <br><br>
</div>
