<div class="background-pizarron" style="background-image: url(https://cdn.pixabay.com/photo/2019/06/10/11/35/learning-4264032_960_720.jpg); background-size: cover;">
  <div class="container mt-10">
    <% if current_user.admin_role?%>
    <div class="">
      <h1>Nueva Asignatura</h1>
      <p>Escribe la materia que deseas incluir en el currículo escolar</p>
    </div>
      <%= render 'shared/subject_form' %>

      <div class="row g-1 d-flex align-items-end justify-content-end">
        <a class="mb-5"><%= link_to "Regresar", subjects_path, class:"btn btn-link"%></a>
      </div>
    <% else %>
      <div class="row g-1 d-flex align-items-center justify-content-center">
        <h3 class="mb-3">¡Acceso denegado!</h3>
        <%= link_to "Aceptar", root_path, class:"btn btn-outline-danger" %>
      </div>
    <% end %>
  </div>
</div>
