
  <div class="container mt-4">
    <div>
      <div class="d-flex flex-row justify-content-between">
        <h1>Listado de Posts</h1>
        <%= link_to pizarron_path do %>
          <div class="">
            <i class="fa-solid fa-circle-left fs-1 icon-return rounded-circle"></i>
          </div>
        <% end %>
      </div>
      <div>
        <p>Estas viendo los posts que has creado en todas tus materias</p>
      </div>
    </div>

    <div>
      <%= render "shared/search_posts" %>
    </div>
      <div class="row row-cols-4 row-cols-lg-5 g-2 g-lg-3">
        <%= render "shared/posts_list" %>
      </div>
    </div>
</div>
