
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $purple-sb;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $blue-light-sb;
  color: black;
}


.btn-card {
  color: $purple-sb;
  border: 1px solid $purple-sb;
  padding: 2px 8px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin-right: 2px;
}

.btn-card:hover {
  opacity: 1;
}
