
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 4% 10% 10% 10%;
}
.card-index {
  width: 100%;
  padding: 10px;
  max-height: 12rem;
  margin-top: 1em;
  border-radius: 6px;
  overflow: hidden;
  background: #eeee;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  cursor: default;
  transition: all 400ms ease;
  // text-decoration: none;
  // display: inline-block;
}
.card-index:hover {
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);

}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500px;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category:hover {
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%);

}

.card-header {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body-post{
  height: 100px;
  width: 100px;
}

div.transbox {
  background-color: $purple-sb;
  background-size: cover;
  opacity: 0.7;
}

div.title {
  color: black;
  font-weight: 700px;
  font-size: 25rem;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin: 1% auto;
}

div.transbox a {
  margin: 0% 28%;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2em;
}

.background-pizarron {
  padding-top: 1%;
  background-size: contain;
}

.icon-p {
  font-size: 1.5rem;
  color: $white-sb;
  margin: 0.1rem;
  display: inline;
}

.icon-p:hover {
  color: $blue-sb;
  opacity: 0.8;
}

.icon-return {
  color: $blue-sb;
}

.icon-return:hover {
  color: $purple-sb;
}


.line-white {
  height: 0.1vh;
  background-color: $white-sb;
  background-size: cover;
}




// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
