// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "banner";
@import "button";
@import "card";
@import "footer";
@import "card_product";
@import "search";


body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background-color: $white-bg;
}

#wrapper {
  min-height: 100%;
  position: relative;
}
