.navbar-lewagon {
  justify-content: space-between;
  background: $white-bg;
  background-color: $purple-sb;
  transition: 0.5s background-color ease;
  box-shadow: rgba(0, 0, 0, 0.2);
  color: $purple-sb;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

.nav-light{
  color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.2);
}

.navbar-lewagon a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.2);
}

hr {
  background-color: $white-sb;
  border: 5px solid $white-sb;
  border-bottom-style: dashed;
}
