.small-container{
  width: 100%;
  max-width: 650px;
}

.large-container{
  width: 100%;
  max-width: 960px;
}

.center-block{
  margin: 0 auto;
}

.padding{
  padding: 10px 15px;
}

.margin-top{
  margin-top: 1.5em;
}

.field {
  @extend .margin-top;
  label{
    @extend .text-uppercase;
    @extend .text-secundary
  }
  &:first-of-type{
    margin-top: 0;
  }
  input{
    @extend .form-control;
    @extend .bg-light;
  }
  input[type='checkbox']{
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-right: 0.5em;
  }
}